<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dehradun Travels</title>
    <link rel="icon" href="\logo.png">
    <link rel="stylesheet" type="text/css" href="\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
   
</head>
<body>

<!-- Background Video & Header -->

    <div class="banner">
        <video src="\Recording 2024-04-03 111820.mp4" type="video/mp4" autoplay muted loop></video>
    
    <!-- Header -->

    <div class="content" id="home"> 
        <nav>
           <img src="\logo.png" class="logo" alt="Logo" title="Dehradun Travels">
            
            <ul class="navbar">
                <li>
                    <a href="\#home">Home</a>
                    <a href="\about.html">About Us</a>
                    <a href="\contact.html">Contact Us</a>
                </li>
            </ul>
        </nav>
            <div class="title">
            <h1>DEHRADUN TRAVELS</h1>
            <p>Plan your trip with us with the most affordable packages!</p>
            <section class="registration">
                <div class="register-form">
            <form action="/" method="POST">
                <input type="submit" class="submitbtn" name="howtoproceed" value="Register">
                <input type="submit" class="submitbtn" name="howtoproceed" value="Login">

            </form>
        </div>
        </section>
        
            
        </div>
        </div>
    </div>
</body>
</html>
